<% posts.forEach(function(post, index) {
	if (index % 3 == 0) { %>
		<!-- <div class="row"> -->
	<%} %>
	<div class="warpper">
		<h2>
			<span class="title">
				<a href="/u/<%= post.user %>" title="<%= post.user %>">
				<% if(post.avatar) {%>
				<img src="<%= post.avatar%>"  style="width:50px;height:50px;overflow:hidden;border-radius:25px;margin-right:10px;" alt="<%= post.user %>"/>
				<%} else {%>
				<img src="/images/user.jpg"  style="width:50px;height:50px;overflow:hidden;border-radius:25px;margin-right:10px;" alt="<%= post.user %>"/>
				<% } %> 
				</a>
				<em class="blue"><%= post.comments%></em> / <%= post.reads%> &nbsp;&nbsp;&nbsp;&nbsp;
				<a href="/topic/<%= post.id %>"> <%= post.talktitle %> </a> 
			</span>
			<span class="times">   <small>发表时间：<%= post.time %></small></span>
		</h2>
		<div clear="clear"></div>
	</div>
	<% if (index % 3 == 2) { %>
		<!-- </div> -->
	<% } %>
<%}) %>

<% if (posts.length % 3 != 0) { %>
	<!--</div> end row -->
<%} %>
